<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>602613772724-gsr8rvblenekr4h02u64b6ed4a5ot5v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.602613772724-gsr8rvblenekr4h02u64b6ed4a5ot5v9</string>
	<key>API_KEY</key>
	<string>AIzaSyD3OAfIa6DSnupUI4y06jeHGbUcBh3Rm_o</string>
	<key>GCM_SENDER_ID</key>
	<string>602613772724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-5db46</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-5db46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:602613772724:ios:2ef18e1f84abb9bea7c2e1</string>
</dict>
</plist>